/* 
 * MetroBlue theme for webMCR by upisfree
 * github.com/upisfree
 * upisfree@outlook.com
*/

/* style.css */

@import url("bootstrap.css");
@import url("bootstrap-responsive.css");
@import url("docs.css");
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);
/*@import url("../skinPoser/style.css");*/

body {

  font-size: 13px; 
  font-family: PT Sans, Helvetica, Arial, sans-serif;
  /*background: #f5f5f5 url(../img/bg0.png) repeat top left;*/
}

input,
button,
select,
textarea {
  font-family: PT Sans, Helvetica, Arial, sans-serif;
}

/* класс image-polaroid используется скриптами ajax */

/* Bootstrap mod */

.breadcrumb {
  font-size: 13px; 
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  border: 1px solid #e5e5e5; 
  background-color: #f5f5f5;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #ccc;
}

.breadcrumb .active {
  color: #999999;
}

/* Base styles upd 210713 */

.emailValidationNone:focus {
  border-color: #08457e !important;
  color: #555555 !important;
  outline: 0 !important;
}

.antibot {
	position: relative;
	top: 5px; 
	width: 35px; 	
}


.player-name {
  color: #333333;
}

.smile {
 display: inline-block; 
 width: 60px;
 text-align: center;
}

.info { 
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2px;
  padding : 4px;
}

.info .iright { 
  display: inline-block;
  text-align : left;
  width: 128px; 
}

.info .ileft { 
  display: inline-block;
  font-weight: bold;
  text-align : left;
  width: 86px; 
}

.info .longright { 
  display: inline-block;
  text-align : left;
  width: 168px; 
}

.info .longleft { 
  display: inline-block;
  font-weight: bold;
  text-align : left;
  width: 138px; 
}

.skin-block {
  vertical-align: top;
  height: 224px;
  width: 112px;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

.info-big-frame {
  display: none;
  z-index: 3; 
  margin: 0px auto;
  padding: 20px;
  padding-top: 10px;
  background: #f0f0f0;
  overflow:hidden;
  color: #5e5e5e;
  
  position: absolute; 
  top: 50%;
  left: 50%;
  margin-left: -320px;
  height: 280px;
  width: 640px;
  
  border: 1px solid #868686;
}

.filelist-item {
  margin-bottom: 6px;
}

.filelist-item-size {
  min-width: 40px;
}

.filelist-item-name {
  min-width: 200px;
}

.filelist-item div {
  display: inline-block;
  margin-right: 10px;
}

/* комментарии - стиль для бантика */

.female {
  position: absolute; 
  top: 0;
  right: 0;
}

.female-input {       /* O__o */
  padding : 6px;
  font-size: 15px; 
}
.female-input a { 
  margin-left: 10px;
  margin-right: 10px;

}

.female-input span { 
  margin-left: 10px;
}

.female-input img { 
  margin-left: 10px;
  margin-bottom: 2px;
}

.female-input a{
  padding: 2px 6px 3px 6px;
  text-decoration: none;
  color: #5b5b5b;
  font-weight: bold;
}

.female-input a:hover{
  color: #333;
  background: #aed0d9; 
}

.server-info {
 margin-top : 8px;
 border-bottom: 1px dashed #D0D0D0;
 padding-bottom: 6px;
}

.server-info  table {
  width: 100%;
  text-align: center;
}

.server-info-header {
  padding : 4px;
  background: #E8E8E8; 
  font-size: 14px;
  margin-bottom: 4px;
}

/* Новости */

.news-box {
  margin-top: 10px;
  border: 1px solid #e5e5e5;
}

.news-box .divider {
  padding: 0 5px;
  color: #5b5b5b;
}

a.news-link {
padding: 2px 6px 3px 6px;
text-decoration: none;
color: #5b5b5b;
}

a.news-link:hover{
  color: #333;
  background: #aed0d9; 
}

.news-header {
  background-color: #f5f5f5;
  padding: 6px;
  font-size: 18px;
  border-bottom: 1px solid #e5e5e5; 
}

.news-text {
  font-size: 14px;
  padding: 10px;

  white-space: pre-line;
  white-space: -moz-pre-line;
  white-space: -pre-line;
  white-space: -o-pre-line;
  word-wrap: break-word;
}

.news-footer {
  padding: 6px;
  border: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5; 
}

/* Комментарии */

.comment-container {
  padding-left: 20px;
  padding-top: 10px;
  margin-left: 20px; 
  margin-bottom: 10px;
  margin-right: 20px;  
  border: 1px solid #e5e5e5;
}

.comment-quote {
 border: 1px solid #e5e5e5;
 padding: 4px;
}

.comment-quote-a{
 border-bottom: 1px solid #f5f5f5;
 padding-left: 4px;
 padding-right: 12px;
}

.comment-quote-c{
 padding: 4px;
}

.comment-self {
  padding-left: 5px;
  display: inline-block;
  width: 500px;
}

.comment-info {
  padding-right : 4px; 
  padding-top: 4px;
  margin-bottom: 5px;
}

.comment-text {
  padding: 4px;
  line-height: 1.4;
  min-height: 40px;
  font-size: 14px;
  width: 500px;
  font-family: PT Sans, Helvetica, Arial, sans-serif;
  
  /* Перенос длинных слов */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;    /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;   /* Internet Explorer 5.5+ */
}

.comment-addition {
  /*font-weight: bold;*/
  font-size: 12px;
}

/* блок */

.footer-block {
  padding: 10px 10px 10px;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  *zoom: 1;
}

.footer-block:before,
.footer-block:after {
  display: table;
  line-height: 0;
  content: "";
}

.footer-block:after {
  clear: both;
}

/* end блок */

.form-block-rl {
  padding: 0 10px 0;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  *zoom: 1;
}

.form-block-rl:before,
.form-block-rl:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-block-rl:after {
  clear: both;
}

.inform-block {
  padding: 10px 10px 0;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  *zoom: 1;
}

.inform-block:before,
.inform-block:after {
  display: table;
  line-height: 0;
  content: "";
}

.inform-block:after {
  clear: both;
}

.listuserb {
  padding: 1px 5px 5px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  *zoom: 1;
}

.listuserb:before,
.listuserb:after {
  display: table;
  line-height: 0;
  content: "";
}

.listuserb:after {
  clear: both;
}

/* new */

.form-block {
  padding: 0 10px 10px;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  *zoom: 1;
}

.form-block:before,
.form-block:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-block:after {
  clear: both;
}

.block-header {
  display: block;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.block-line {
  margin: 0 0 10px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

/* Theme preview */

.theme-item {
  display: block;
  position: relative;
  float: left;
  padding: 20px;
  margin: 10px;
  width: 40%;
  background: #ffffff;
  border: 2px solid #e5e5e5;
}

.theme-item:hover {
  background: #f5f5f5;
}

.theme-item:active {
  background: #EBEBEB;
}

.theme-item input {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.theme-item img {
  margin-bottom: 20px;
}

.theme-item h3 {
  text-align: center;
  margin-top: -10px;
  font-size: 200%;
}

.theme-item:nth-child(odd) {
  left: 0;
}

.theme-item:nth-child(even) {
  right: -10px;
}