AddDefaultCharset UTF-8
DefaultLanguage ru-RU

Options -Indexes

php_flag register_globals off

<IfModule mod_rewrite.c>

    SetEnv HTTP_MOD_REWRITE On

RewriteEngine on

RewriteRule ^news/([^/]+)/?$ index.php?id=$1 [L]
RewriteRule ^category/([^/]+)/?$ index.php?cid=$1 [L]
RewriteRule ^list/([^/]+)/?$ index.php?l=$1 [L]

RewriteRule ^get/([^/]+)/?$ action.php?method=download&file=$1 [L]

RewriteRule ^go/([^/]+)/?$ index.php?mode=$1 [L]

RewriteRule  ^authenticate$ MineCraft/auth16x.php [L]
RewriteRule  ^invalidate$ MineCraft/invalidate16x.php [L]
RewriteRule  ^refresh$ MineCraft/refresh16x.php [L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?mode=404

</IfModule>